<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
    <link rel="stylesheet" href="./css/style.css">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    <div id="app" class="height-100 d-flex justify-content-center align-items-center">

        <div class="container height-95">

            <div class="row height-full">
                
                <!--Colonna Sinistra-->

                <div class="col-4 height-full">
                    
                    <!--Prima Riga-->

                    <div class="row background-gray height-8 border-gray">

                        <div class="col-6">

                            <div class="d-flex align-items-center height-full">
                                <img src="./img/avatar_io.jpg" alt="avatar_io" class="icon-image">
                                <h5 class="mx-1">Sofia</h5>
                            </div>

                        </div>

                        <div class="col-6 d-flex justify-content-end">

                            <div class="d-flex align-items-center height-full color-gray font-size-25">
                                <i class="fa-solid fa-circle-notch mx-3"></i>
                                <i class="fa-solid fa-message mx-2"></i>
                                <i class="fa-solid fa-ellipsis-vertical mx-3"></i>
                            </div>

                        </div>

                    </div>

                    <!--Seconda Riga-->

                    <div class="row background-light-blue height-10">

                        <div class="col-12 d-flex align-items-center">

                            <div class="background-white white-circle d-flex justify-content-center align-items-center font-size-25 mx-2"><i class="fa-solid fa-bell-slash color-light-blue"></i></div>

                            <div class="d-flex flex-column justify-content-center mx-1">
                                <span class="font-size-18">Ricevi notifiche di nuovi messaggi</span>
                                <a href="#" class="color-purple">Attiva notifiche desktop</a>
                            </div>

                        </div>

                    </div>

                    <!--Terza Riga-->

                    <div class="row background-white height-5 border-gray">

                        <div class="col-12 d-flex align-items-center">

                            <i class="fa-solid fa-magnifying-glass mx-4 margin-top-5 color-gray font-size-18"></i>
                            <input type="text" class="form-text width mx-3" placeholder="Cerca o inizia una nuova chat">

                        </div>

                    </div>

                    <!--Quarta Riga-->

                    <div class="row background-white height-77 border-gray scroll-auto">

                        <div class="col-12 g-0">

                            <div v-for="(contact, index) in contacts" class="d-flex justify-content-between chats" @click="getIndex(index)" :id="'chat'+index">

                                <div class="d-flex my-2">

                                    <img :src="'./img/avatar'+contact.avatar+'.jpg'" alt="" class="icon-image mx-2">
                                    <div class="d-flex flex-column justify-content-center mx-1">
                                        <h5 class="line-height-5 margin-top-5">{{contact.name}}</h5>
                                        <span class="color-gray line-height-15">{{contact.messages[contact.messages.length-1].message}}</span>
                                    </div>

                                </div>

                                <div>
                                    <span class="color-gray font-size-13 mx-2">
                                        {{orarioUltimoMessaggio(index)}}

                                    </span>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <!--Colonna Destra-->
        
                <div class="col-8 height-full">
                    
                    <!--Prima Riga-->

                    <div class="row background-gray height-8">

                        <div class="col-9">

                            <div class="d-flex align-items-center height-full">

                                <img :src="'./img/avatar'+contacts[currentUser].avatar+'.jpg'" alt="" class="icon-image mx-2">
                                <div>
                                    <h5 class="line-height-5">{{contacts[currentUser].name}}</h5>
                                    <span class="color-dark-gray">Ultimo accesso oggi alle: {{orarioUltimoMessaggio(currentUser)}}</span>
                                </div>

                            </div>

                        </div>

                        <div class="col-3 d-flex justify-content-end align-items-center color-gray font-size-25">

                            <i class="fa-solid fa-magnifying-glass mx-3"></i>
                            <i class="fa-solid fa-paperclip mx-1"></i>
                            <i class="fa-solid fa-ellipsis-vertical mx-3"></i>

                        </div>

                    </div>

                    <!--Seconda Riga-->

                    <div class="row background-image height-84 scroll">

                        <div class="col-12">

                            <!--Container messaggi-->

                            <div class="d-flex flex-column padding-5">

                                <div class="d-flex flex-column" v-for="(item, index) in contacts[currentUser].messages" :class="[isSent(currentUser, index) ? 'sent' : 'received']">
                                    {{item.message}}
                                    <span class="align-self-end color-gray font-size-10">{{orarioUltimoMessaggio(currentUser)}}</span>
                                </div>

                            </div>

                        </div>

                    </div>

                    <!--Terza Riga-->

                    <div class="row background-darker-white height-8">

                        <div class="col-12">



                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!--JS-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>

</body>
</html>